.signup {
  margin: 0;
  height: auto;
  margin-top: 50px;
  height: 600px;
  max-width: 500px;
  min-width: 400px;
}
.login {
  margin-top: 50px;
  max-width: 500px;
  min-width: 400px;
  height: 600px;
}
.form {
  height: 100%;
  width: 100%;
}
.container {
  width: 100%;
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  justify-content:space-between;
  min-height: 70%;
  margin: auto;
  padding: 20px;
  margin-top: 50px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.15);
}
.container:hover{
  -moz-box-shadow: 0px 0px 5px #1e1e1e; 
  -webkit-box-shadow: 0px 0px 5px #1e1e1e; 
  box-shadow: 10px  20px 15px #1e1e1e;
  -webkit-transition: box-shadow 0.3s ease-in-out 0s;
  -moz-transition: box-shadow 0.3s ease-in-out 0s;
  -o-transition: box-shadow 0.3s ease-in-out 0s;
  -ms-transition: box-shadow 0.3s ease-in-out 0s;
  transition: box-shadow 0.3s ease-in-out 0s;
}
.container-active{
  width: 100%;
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  justify-content:space-between;
  min-height: 70%;
  margin: auto;
  padding: 20px;
  margin-top: 50px;
  -moz-box-shadow: 0px 0px 5px #1e1e1e; 
  -webkit-box-shadow: 0px 0px 5px #1e1e1e; 
  box-shadow: 10px  20px 15px #1e1e1e;
  -webkit-transition: box-shadow 0.3s ease-in-out 0s;
  -moz-transition: box-shadow 0.3s ease-in-out 0s;
  -o-transition: box-shadow 0.3s ease-in-out 0s;
  -ms-transition: box-shadow 0.3s ease-in-out 0s;
  transition: box-shadow 0.3s ease-in-out 0s;
}
.text-field {
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 5px;
  outline: none;
  opacity: calc("50px");
}
.submit {
  width: 20%;
  border-radius: 5px;
  font-weight: bolder;
  border: 1px solid black;
}

.field {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  margin-top: 20px;

  height: 100%;
}
.inputs {
  width: auto;
  height: 100%;
  display: flex;
  width: 100%;
  flex-direction: column;
}
.error {
  height: 100%;
  width: auto;
  max-width: 85%;

  font-size: 95%;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

.login-button {
  position: relative;
  bottom: 0px;
  margin-bottom: 10px;
}
.submit {
  height: 35px;
  margin-top: 15px;
  width: 40%;
}
.loginerror {
  width: 100%;
  color: red;
}

.checkbox {
  margin-left: 10px;
  margin-top: 10px;
}

#switch-sign-in {
  align-self: center;
  position: relative;
  
}
.switch-sign-in {
  position: relative;
  text-decoration: underline;
  align-self: flex-end;
 
}
